/* 配置全局背景图片 */
body {
  background:
          linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
          url('/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}

/* 全局设置链接文字为白色 */
a {
  color: #ffffff; /* 默认白色 */
}

/* 全局设置链接文字为白色 */
p {
  color: #ffffff !important; /* 默认白色 */
}

/* 设置标题颜色 */
h1 {
  color: #000000ba;
}

/* 控制首页按钮样式 */
.home .action-button {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  transition: all 0.2s ease;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  text-decoration: none;
  margin: 0.5rem;
  font-weight: 500;
  min-width: 10rem;  /* 设置最小宽度使按钮大小一致 */
}

/* 针对首页主标题进行样式覆盖 */
/* 如果样式没有生效，可尝试加上 !important */
#main-title {
  color: #ffffff !important;
}

#app > div > main > div.vp-features > div:nth-child(1) > p {
  color: #ffffff;
}

#人民日报新闻智能聚合系统 {
  color: #ffffff !important;
}

.vp-navbar {
  color: #878787 !important;
}

.vp-footer {
  color: #ffffff !important;
}

/* 修复首页图片变形问题 */
.hero img {
  max-width: 100%;
  height: auto !important;
  object-fit: contain !important;
  max-height: 280px;
}

/* 修复vp-hero-image变形问题 */
.vp-hero-image {
  max-width: 100%;
  height: auto !important;
  object-fit: contain !important;
}

/* 编辑此页链接样式修改 */
.page-edit {
  .edit-link a {
    font-size: 0.9rem;
    &:before {
      content: "Go to download";
      margin-right: 0.25rem;
    }
  }
} 